@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "nav_bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/settings.css";
@import "screens/chat-room.css";

body {
  font-family: "Roboto", sans-serif;
}
.main-screen {
  padding: var(--horizontal-space);
  padding-top: 90px;
}
