#chat-screen {
  background-color: #abc1d1;
}
#chat-screen .alt-header {
  padding-bottom: 0px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
.chat-time-stamp {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.chat-time-stamp span {
  border-radius: 14px;
  padding: 7px;
  font-size: 13px;
  color: #d9e0e4;
  background-color: #93a4b2;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 1;
}
.chat {
  padding-top: 110px;
}
.message-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.message-row img {
  height: 53px;
  width: 53px;
  border-radius: 20px;
  margin-right: 7px;
}
.message-row__author {
  color: #717f88;
  display: block;
  margin-bottom: 6px;
}
.message-row__text {
  background-color: white;
  padding: 5px 7px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 3px;
}
.message-row__info {
  display: flex;
  align-items: flex-end;
}
.message-row__time {
  font-size: 13px;
  color: #717f88;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message-row__text {
  background-color: var(--yellow);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 3px;
}
.message-row--own .message-row__info {
  flex-direction: row-reverse;
}
