#chat-screen {
  background-color: #abc1d1;
}
#chat-screen .alt-header {
  padding-bottom: 0px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
.chat-time-stamp {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.chat-time-stamp span {
  border-radius: 14px;
  padding: 7px;
  font-size: 13px;
  color: #d9e0e4;
  background-color: #93a4b2;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  background-color: #abc1d1;
}
#chat-screen .status-bar {
  z-index: 1;
}
.chat {
  padding-top: 110px;
}
.message-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.message-row img {
  height: 53px;
  width: 53px;
  border-radius: 20px;
  margin-right: 7px;
}
.message-row__author {
  color: #717f88;
  display: block;
  margin-bottom: 6px;
}
.message-row__text {
  background-color: white;
  padding: 5px 7px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 3px;
}
.message-row__info {
  display: flex;
  align-items: flex-end;
}
.message-row__time {
  font-size: 13px;
  color: #717f88;
}
.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message-row__text {
  background-color: var(--yellow);
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 3px;
}
.message-row--own .message-row__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  padding: 5px 10px;
  box-sizing: border-box;
}
.reply i {
  opacity: 0.5;
}
/* .reply__column {
  display: flex;
} */
.reply__column:first-child {
  justify-content: center;
  width: 7%;
}
.reply__column:last-child {
  box-sizing: border-box;
  position: relative;
  width: 93%;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  bottom: 7px;
  left: 375px;
}
.reply__column:last-child > i {
  left: 349px;
  bottom: 10px;
}
.reply__column:last-child button {
  background-color: var(--yellow);
  border: var(--bottom-border);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  bottom: 2px;
  opacity: 1;
}
.reply__column:last-child button i {
  opacity: 1;
}
.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

.reply input {
  /* padding: 0px 11px; */
  height: 32px;
  border-radius: 10px;
  border: var(--bottom-border);
  width: 100%;
  /* box-sizing: border-box; */
}
