#friend-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  padding: 15px 0px;
  padding-top: 100px;
  color: rgba(0, 0, 0, 0.8);
}

#friend-display-link i {
  padding: 0px 5px;
  color: #d5d5d5;
}

.friends-screen {
  padding: var(--horizontal-space);
  padding-top: 100px;
}
.friend-screen-channel {
  border-top: var(--bottom-border);
  margin-top: 10px;
}
.friend-screen-channel-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  color: rgba(0, 0, 0, 0.5);
}
.channel-count {
  color: rgba(0, 0, 0, 0.5);
}
.fr {
  padding-top: 10px;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  background-color: var(--yellow);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
  animation: hideSplashScreen 1s ease-in forwards;
  animation-delay: 2s;
}
