.alt-header {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
.alt-header__title {
  font-size: 25px;
  font-weight: 600;
}
.alt-header__column {
  display: flex;
  width: 33.3333%;
}
.alt-header__column:first-child {
  margin-right: auto;
}
.alt-header__column:nth-child(2) {
  justify-content: center;
}
.alt-header__column:last-child {
  justify-content: flex-end;
  margin-left: auto;
}
.alt-header__column:last-child .fa-search {
  margin-right: 25px;
}
