.screen-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px var(--horizontal-space);
  padding-top: 44px;
  opacity: 0.9;
}
.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}
.screen-header__icons > span {
  margin-left: 22px;
  position: relative;
}
.screen-header__dot {
  bottom: 17px;
}
@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}
.screen-header .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
  /* animation-iteration-count: infinite; */
}
