.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px;
  padding-top: 44px;
  opacity: 0.9;
}
.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}
.screen-header__icons span {
  margin-left: 22px;
}
